@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
 
.fullbox{
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: center;
    /* gap: 30px; */
    /* align-items: center; */
}
.para{
    width: 85vw;
    margin: auto;
}
.doc-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.doc-list p{
    border: 1px solid rgb(188, 185, 185);
    color: rgb(90, 88, 88);
    display: flex;
    cursor: pointer;
    justify-content: start;
    align-items: center;
    width: 70%;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 4px;
}
.color{
    color: black;
    background-color: rgb(234 239 255);

}
.doc-list p:hover{
    background-color: rgb(234 239 255);
}
.left-container{
    width: 20vw;
    /* border: 2px solid grey; */
    height: 100vh;
    margin: 42px 0;
}

.doc-container {
    padding: 42px 10px;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
.cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;
    /* padding: 42px; */
    border: 1px solid rgba(165, 165, 228, 0.461);
}
.cards img{
    height: 220px;
    width: 220px;
    border-radius: 8px 8px 0 0;
    background-color: rgb(234 239 255)
}
.online-dot {
    width: 10px;          /* Size of the dot */
    height: 10px;         /* Size of the dot */
    background-color: #08f152;  /* Green color */
    border-radius: 50%;   /* Makes the dot circular */
    display: inline-block; /* Allows it to be placed inline with text */
    border: 2px solid white; /* Optional: creates a white border around the dot */
    position: relative;   /* You can position it over an image or text */
}
  
.available{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #0c9e3a;
    gap: 6px;
}
.cardinfo{
    display: flex;
    padding: 2px 0;
    width: 210px;
    justify-content: start;
    padding: 8px;
    /* align-items: center; */
    flex-direction: column;
}
#topdocname{
    font-size: 19px;
font-weight: 500;
} 
.docbox button{
    background-color: rgb(234 239 255);
    border-radius: 40px;
    padding: 14px 45px;
    color: rgb(25, 25, 25);
}
.cards {
    transition: transform 0.3s ease-in-out; /* Smooth transition for both hover and unhover */
}

.cards:hover {
    transform: scale(1.05); /* Increase size by 5% */
}
.docbox button:hover{
    background-color: rgb(219, 227, 252);
    /* background-color: black; */
    /* color: black; */
}