.headerbox {
  position: relative;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-weight: 400;
  font-style: normal;
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
  background-color: rgb(95, 111, 255);
  margin: 2vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  width: 30vw;
  /* height: 70vh; */
  margin: auto;
}
.right {
  width: 30vw;
  margin: auto;
}
.left-one h1 {
  font-size: 40px;
  font-weight: 500;
}
.left-two {
  display: flex;
  justify-content: start;
  /* padding: 10px 0; */
  margin: 10px 0;
  align-items: center;
  gap: 10px;
}
.left-two img {
  width: 90px;
}
.left-three a {
  transition: transform 0.3s ease-in-out; /* Smooth transition for both hover and unhover */
  background-color: white;
  color: rgb(95, 111, 255);
  width: 14vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
}
.left-three img {
  width: 15px;
}

.right img {
  width: 600px;
  position: absolute;
  bottom: 0;
  right: 0;
}
a:hover {
  transform: scale(1.04); /* Increase size by 5% */
}
